* {
  box-sizing: border-box;
}

html {
}

body {
  text-align: center;
  font-size: 62.5%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
}

.noselect {
-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

header .logo {
   
}

header .logo-text {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

header h3 {
  font-size: 1.4rem;
}

#ez {
  font-size: 4rem;
  letter-spacing: 5px;
}

#cannabiz {
  font-size: 3rem;
}

#consulting {
  letter-spacing: 2px;
  font-size: 3rem;
}


.contact {
  margin: 20% auto 0;
  /* width: 60%; */
  font-size: 1.2rem;
}
